* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    color: #fff;
    line-height: 1.6;
    background: #000
}

.slider {
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw
}

.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
}

.slide.current {
    opacity: 1;
    z-index: 1
}

.slide .content{
    position: absolute;
    margin: 0px auto 0px auto;
    top: 40%;
    left: 30%;
    width: 600px;
    background-color: rgba(87,96,111, 0.5);
    color: #c8d6e5;
    padding: 35px;
    opacity: 0px;
}

.slide.current .content{
    opacity: 1px;
    transition: all 0.7ss ease-in-out 0.9s;
}

.slide .content h1{
    margin-bottom: 10px
}

.slide:first-child {
    background-color: #1e90ff;
}

.slide:nth-child(2) {
    background-color: #2ed573
}

.slide:nth-child(3) {
    background-color: #ff7f50
}

.slide:nth-child(4) {
    background-color: #eccc68
}

span#next{right: 15px}
span#prev{left: 15px}

span#next, span#prev {
    position: absolute;
    top: 50%;
    z-index: 1
}


svg {
    fill: white;
    width: 50px;
    height: auto;
    transition: fill 0.1s ease-in
}

svg:hover{
    cursor: pointer;
    fill: #576574;
}

@media(max-width: 1280px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 25%;
        width: 600px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}

@media(max-width: 1000px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 20%;
        width: 600px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}

@media(max-width: 900px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 15%;
        width: 600px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}

@media(max-width: 800px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 15%;
        width: 500px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}

@media(max-width: 700px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 20%;
        width: 400px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}

@media(max-width: 600px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 25%;
        width: 300px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}

@media(max-width: 550px){
    .slide .content{
        position: absolute;
        margin: 0px auto 0px auto;
        top: 40%;
        left: 20%;
        width: 300px;
        background-color: rgba(87,96,111, 0.5);
        color: #c8d6e5;
        padding: 35px;
        opacity: 0px;
    }
}